body {
	background-color: black;
}
#gameContainer {
	width: 1024px;
	height: 768px;
	margin: auto;
}
.j-properties-editor {
	position : relative;
	margin-top : 100px;
}
.j-inspector {
	position : fixed;
	top : 0px;
	right : 0px;
}
..dg.main.a {
	margin-top : 50px;
}